<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
 <database>
	<host>127.0.0.1</host>
	<user>root</user>
	<pass>b_a_sket88</pass>
	<databaseName>LIGA</databaseName>
	<description>Necessary info to connect with the database</description>
 </database>
 <teamfile>
	<path>/home/francisco/Quiniela/Quinielas/conf/teams.xml</path>
	<description>Path to the file which contains all teams of the
	league with their references</description>
 </teamfile>
 <matchsfile>
 	<path>/home/francisco/Dropbox/TFG/data/1-2div</path>
 	<description>Path to the file which contains matchs to load in the database with the format:
 		TEMPORADA DIVISION JORNADA			PARTIDO			
 		yyyy-yyyy	xª		x 		equipo local equipo visi x-x</description>
 </matchsfile>
 <predictionsfile>
 	<path>/home/francisco/Dropbox/TFG/data/predictions.arff</path>
 	<description>Path to the file with the result of the predictions</description>
 </predictionsfile>
 <predictor>
	<trainpath></trainpath>
	<testpath></testpath>
	<modelpath></modelpath>
	<description>Path where to create the necessary files for train, test
	and wherte to save the models</description>
 </predictor>
 <streak>5</streak>
 <workspace>
 	<path>/home/francisco/Dropbox/TFG/data/wekafiles/</path>
 	<description>Path to the folder where the application will create all intermediate files and save resutls</description>
 </workspace>
</config>